<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.luma.test.HoodiesPageTest"/>
      <class name="com.luma.test.SignOutTest"/>
      <class name="com.luma.test.AddressFillingPageTest"/>
      <class name="com.luma.test.CheckoutPageTest"/>
      <class name="com.luma.test.LoginPageTest"/>
      <class name="com.luma.test.AddReviewTest"/>
      <class name="com.luma.test.AddToCartTest"/>
      <class name="com.luma.test.OpenWishlistTest"/>
      <class name="com.luma.test.AddToWishlistTest"/>
      <class name="com.luma.test.CreateAccountTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
